@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.about {
//        @include flex (column);
        display: grid;
        min-height: 100dvh;
        grid-template-rows: auto 1fr auto;
        align-items: center;
        justify-items: center;
        transform: translateY(-100);
        animation: slideInFromLeft 1s forwards;
        text-align: justify;
        
        
        .main {
            @include flex (column);
            flex-wrap: wrap;
            width: 50%;
            align-items: center;
            gap: 150px;
            border-bottom-style:ridge;
            h1 {
                font-size: $font-size-h1;
                color: $fontcolor1;
            }
            p   {
            font-size: $font-size-p;
            
            }
        }
    }
        @keyframes slideInFromLeft {
            from {
                opacity: 0;
                transform: translateY(-100%);
            }
            to  {
                opacity: 1;
                transform: translateY(0);
            }
        }
    
