@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.about {
//        @include flex (column);
//        display: grid;
//        min-height: 100dvh;
//        grid-template-rows: auto 1fr auto;
//        align-items: center;
//        justify-items: center;
        @include grid-layout;
        transform: translateY(-100);
        animation: slideInFromLeft 1s forwards;
        text-align: justify;
        
        
        .main {
            @include flex (column);
            flex-wrap: wrap;
            width: 50%;
            align-items: center;
            gap: 150px;
            @include for-phone-only {
                gap: 60px;
                width: 70%;
            }
            
            h1 {
                font-size: $font-size-h1;
                color: $fontcolor1;
                @include for-phone-only {
                    font-size: $fonth1mov;
                }
            }
            p   {
            font-size: $font-size-p;
            @include for-phone-only {
                font-size: $fontpmov;
                text-align: center;
            }
            
            }
        }
    }
        @keyframes slideInFromLeft {
            from {
                opacity: 0;
                transform: translateY(-100%);
            }
            to  {
                opacity: 1;
                transform: translateY(0);
            }
        }