@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.header {
    @include flex(row);
    justify-content: end;
    background-color: $navcolor;
    font-size: $navfont;
    
    .nav {
        padding: 30px;
        
    }
    .nav ul {
        @include flex(row);
        gap: 80px;
    }
}