//COLORES
$navcolor: rgb(28, 27, 34);
$footcolor:rgb(28, 27, 34);
//TIPO DE FUENTE
$fontcolor1: rgb(5, 250, 159);
$fontcolor2: rgb(209, 209, 209);

//TAMAÑO DE FUENTE
$navfont: 1.5rem;
$font-card-h1: 2rem;
$font-size-h1: 3.5rem;
$font-size-h2: 1.8rem;
$font-card-h3: 1.2rem;
$font-size-p: 1.3rem;

//FONTSIZE MOVILES
$fonth1mov: 2.2rem;
$fonth2mov: 1.5rem;
$fontpmov: 1.1rem;

