//COLORES
$navcolor: rgb(0, 11, 0);
$footcolor:rgb(17, 50, 10);
//TIPO DE FUENTE
$fontcolor1: #ffffff;
$fontcolor2: black;

//TAMAÑO DE FUENTE
$navfont: 1.5rem;
$font-card-h1: 2rem;
$font-size-h1: 3.5rem;
$font-size-h2: 1.5rem;
$font-size-p: 1.3rem;

