//COLORES
$navcolor: rgb(255, 255, 255);
$footcolor:rgb(255, 255, 255);
//TIPO DE FUENTE
$fontcolor1: #51000c;
$fontcolor2: rgb(0, 37, 8);

//TAMAÑO DE FUENTE
$navfont: 1.5rem;
$font-card-h1: 2rem;
$font-size-h1: 3.5rem;
$font-size-h2: 1.8rem;
$font-card-h3: 1.2rem;
$font-size-p: 1.3rem;

